/* header */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #112D4E;
    top:0;
    left: 0;
    right: 0;
    height: 80px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.account-icon{
    width: 45px;
}
.cart-icon{
    width: 40px;
}
.cart-icon,.account-icon{
    margin:10px;
}

h1{
    font-family:inter,arial;
    font-size: 40px;
    margin-left:20px;
    color: #222831;
}
/* Menu */
.search{
    display:flex;
    flex-direction: row;
    margin-bottom: 40px;
}
.search-icon{
margin: 0px 10px 0px 20px;
}

.search-line{
    border: none;
    border-bottom:2px solid #222831;
    margin-right: 40px;
    flex:1;
}

h2{
    font-family:inter,arial;
    font-size: 20px;
    margin-left:20px;
    color: #222831;
}
/* Category */
.category-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}

.rice-meals,.drinks,.soups{
    background-color:#112D4E ;
    height:160px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 10px;
    border-radius:10px ;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.category-list h2{
    display: flex;
    flex-direction: column;
    color: #f9f7f7;
    font-size: 14px;
    font-family: inter,arial;
    text-align: center;
    margin:0px;
    margin-bottom: 40px;
}

.category-list button{
    height: 32px;
    width: 32px;
    border-radius: 18px;
    border:none ;
    background-color: #F9F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.category-list button img{
    align-items: center;
}

/* Recommended */

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.food{
    height:260px ;
}
.food-list{
    width: 85%;
    height: 160px;
    background-color: #112D4E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:20px ;
    border-radius:20px;
    overflow: hidden;
}

.content{
width: 50%;
display: flex;
flex-direction: column;
padding:2% 0 2% 5%;
}

.top-content{
    height: 50%;
}
.food-visual{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: -15%;
    align-items: center;
}

.content h2{
    color: #F9F7F7;
    font-family: inter,arial;
    padding:0px;
    margin:0px;
    font-size:12px ;
    font-size: 20px;
}

.content h3{
    color: #F9F7F7;
    font-family: inter,arial;
    margin:0px;
    margin-left: 10px;
}

.content h5{
    color: #F9F7F7;
    margin:0px;
    font-family: inter,arial;
}
.content h6{
    color: #F9F7F7;
    margin:2px 0px;
    font-family: inter,arial;
    font-size: 8px;
}
.status{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.base-content{
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content: left;
}
.base-content button{
    width: 70px;
    height: 40px;
    margin-right: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style:none ;
}

.ratings{
    margin-top: auto;
}

.status-icon{
    margin-top: auto;
}